.river-header{
  font-family: "Daniel", cursive !important;
  color: #57291a !important;
}

.river-text{
  color: #57291a !important;
  font-size: 1.2rem;
  margin: 2%;
}

.river-links{
  background-image: linear-gradient(to top right, #732443, #2f7f7c) !important;
  border-radius: 5%;
  
}

.link-header{
  color: white;
}