.navbar{
  box-shadow: 0px -7px 4px 2px rgb(31, 29, 29);
  background-color: #d55023 !important;
  background-image: linear-gradient(to top right, #d55023 , yellow);
}

.link{
  font-size: 1.7rem;
  color: white !important;
  margin-left: 5%;
  margin-right: 5%;
}
.info{
  margin: 4%;
}