.info{
  font-size: 1.3rem !important;
}

.social-header{
  font-family: "Daniel", cursive !important;
  color: #57291a !important;
}

.icons{
  color: linear-gradient(to top right, #732443, #2f7f7c) !important;
}

@media screen and (max-width: 700px) {
  .info {
    margin: 2%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .info {
    margin: 2%;
    font-size: 0.8rem;
  }
}