footer {
  width: 100%;
}

.main-footer {
  margin-top: 1%;
  margin-bottom: 0;
  background-image: linear-gradient(to top right, #d55023, #e6a61d);
}

.tim {
  width: 100%;
  color: white !important;
  text-decoration: none !important;
  margin-bottom: 0;
}
