.rest-name{
  color: #57291a !important;
  font-family: 'Daniel', cursive;
  font-size: 2.2vw;
}

.duck-text{
  
  color: #57291a !important;
  font-size: 1.1vw;
  text-decoration: none !important;

}

.duck-container{
  margin-top: 3.5%;
}

@media screen and (max-width: 700px){
.main{
line-height: 10px;
}
}